.loginContainerWrapper{
  width: 48%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  align-self: center;
}
#loginForm{
  width: 100% !important;
}
.username{
  width: 100%;
}
.loginBlockWrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.labelNameForm{
  position: relative;
  margin-bottom: 10%;
  color: white;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 40px;
}
.usernametextbox,.passwordtextbox{
  margin-bottom: 8%;
  width: 100%;
  border-radius: 20px;
  height: 50px;
  padding-left: 6%;
  background-color: #20304b;
  outline: none;
  border: 0px;
  font-family: 'SFfont';
  font-size: 30px;
  -webkit-box-shadow: 0 0 0px 1000px #20304b inset;
  -webkit-text-fill-color: white !important;
}
.errorContainer{
  z-index: 100;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  position: absolute;
}
.width100{
  width:100%;
}
.buttonWrapper{
    margin: 0 auto;
    float: inherit;
}
body{
  background-color: #142541 !important;
}
